.header {
  background: rgba(0, 255, 255, 0.9);
  min-height: 71px;
}

.headerContainer {
  padding: 0 64px;
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  padding: 28px 0;
}
.logoMain {
  font-size: 18px;
  font-weight: 800;
  color: #0f172a;
  text-decoration: none;
  padding: 28px 0;
}

.logoAccent {
  color: #475467;
}

.nav {
  padding: 24px 0;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  gap: 32px;
}

.link {
  border-radius: 999px;
  padding: 0.5rem 0.75rem;
  color: inherit;
  text-decoration: none;
  transition: background 0.2s ease;
}

.linkActive {
  color: #829b91;
}
