.headerContainer {
  display: flex;
  flex-direction: row;
  max-height: 72px;
  border-bottom: 1px solid #f2f4f7;
}

.catalogHeader {
  background-color: #f7f7f7;
}

.logo {
  margin: auto 0;
  font-weight: 900;
  font-size: 17px;
}
.logoAccent {
  color: #475467;
}
.nav {
  margin: 0 auto;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.navList {
  display: flex;
  gap: 32px;
}

.link {
  color: inherit;
  transition: color 200ms ease-in-out;
}

.activeLink {
  color: #829b91;
}

@media (hover: hover) {
  .catalogLink:hover,
  .catalogLink:focus-visible {
    color: #829b91;
  }
}
