.hero {
  height: 761px;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(15, 23, 42, 0.45), rgba(15, 23, 42, 0.45)),
    url("/bgImage.jpg") center / cover no-repeat;
  color: #f7f7f7;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  margin-top: 195px;
  padding-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  padding-bottom: 40px;
}

.viewBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  background-color: #829b91;
  padding: 16px 48.5px;
  border-radius: 200px;
  text-decoration: none;
  max-width: 173px;
}

.viewBtn:hover {
  background: #6d7b75;
}
